<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--LIBRARIES-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap.css">
    <!--SCRIPTS-->
    <script src="ChatApp.js"></script>
    <script src="EIESWrapper.js"></script>

</head>
<body ng-app="ChatApp" ng-controller="Main" class="container">
<h1 class="text-center">{{title}}</h1>

<!--LOGIN PANEL-->
<div class="panel panel-warning" ng-show="!loggedIn">
    <div class="panel-heading">
        <h4>Login</h4>
    </div>
    <div class="panel-body">
        <form ng-submit="login(username,password)">

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username" ng-model="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password">
            </div>

            <input class="btn btn-default pull-right" type="submit" value="Login"/>
        </form>
    </div>
</div>

<!--LOG WINDOW-->
<div class="panel panel-primary" ng-show="loggedIn">
    <div class="panel-heading">
        <h4>Chat Log</h4>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="(messageId, messageItem) in messages">
                <h5>
                    <span class="label pull-left"
                        ng-class="{'label-default': messageItem.author !== username && !messageItem.buddystate,
                        'label-primary': messageItem.author === username && !messageItem.buddystate,
                        'label-success': messageItem.buddystate!==null && messageItem.buddystate === 'online',
                        'label-warning': messageItem.buddystate!==null && messageItem.buddystate === 'offline'}">{{messageItem.author}}</span>&nbsp;
                    {{messageItem.message}}
                </h5>
            </li>
        </ul>
    </div>
</div>

<!--MESSAGE FORM-->
<div class="panel panel-default" ng-show="loggedIn">
    <div class="panel-body">

        <form ng-submit="send()">

            <div class="form-group">
                <label for="text">Message</label>
                <input type="text" class="form-control" id="text" placeholder="Enter Message Here.  " ng-model="text">
            </div>

            <input class="btn btn-default pull-right" type="submit" value="Send"/>
        </form>

    </div>
</div>

<!--KEYS ENTRY-->
<div class="panel panel-default" ng-show="loggedIn">
    <!-- collapsability based on http://www.w3schools.com/bootstrap/bootstrap_collapse.asp -->
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1">
                Encryption Keys
            </a>
        </h4>
    </div>

    <div id="collapse1" class="panel-collapse collapse">
        <div class="panel-body">
            <form ng-submit="submitKeys()">

                <div class="form-group">
                    <label for="public">Public Key</label>
                    <input type="text" class="form-control" id="public" placeholder="Enter Public Key Here"
                           ng-model="publicKey">
                </div>

                <div class="form-group">
                    <label for="private">Private Key</label>
                    <input type="text" class="form-control" id="private" placeholder="Enter Private Key Here"
                           ng-model="privateKey">
                </div>


                <input class="btn btn-default pull-right" type="submit" value="Submit Keys"/>
            </form>
            <button class="btn btn-primary pull left" ng-click="generateKey()">Generate New Key</button>
        </div>
    </div>
</div>

</body>
</html>
